<!--The content below is only a placeholder and can be replaced.-->
<table border="1">
  <thead>
      <tr>
          <th>Student ID</th>
          <th>Name</th>
          <th>DOB</th>
          <th>Gender</th>
          <th>Course Fee</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor='let student of students'>
          <td>{{student.ID | uppercase}}</td>
          <td>{{student.Name | titlecase | demo : student.Gender}}</td>
          <td>{{student.DOB | date:'dd/MM/yyyy'}}</td>
          <td>{{student.Gender | lowercase}}</td>
          <td>{{student.CourseFee | currency:'VND':true}}</td>
      </tr>
  </tbody>
</table>
<!-- <button (click)="changeColor()">Change Color</button> -->
<!-- <h1 #demo> Demo view child</h1> -->


<input type="file" name="img" (change)="handleFileInput($event.target.files)" >
<img  #demo  width="100%" *ngIf="imageURL" [src]="imageURL">
<button (click)="clear()">clear</button>
<!-- <p>The hero's birthday is {{ birthday | date: 'fullDate' | lowercase }}</p>
<p> {{ name | uppercase | slice : 0 : 4   }} </p>
<p> {{ name | lowercase | demo : 'mr' : 'abc' }} </p>
<p> {{ name | titlecase }} </p>
<p>{{ objectDemo.CourseFee| currency : 'VND'}}</p>  -->
<app-child-first></app-child-first>
<button (click)="toggle()">toggle</button>
<div [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container">
    <p>The box is now {{ isOpen ? 'Open' : 'Closed' }}!</p>
</div>

<p>{{number}}</p>
<button (click)="onClick()">Click</button>
<p>{{ demo }}</p>


<app-contact-reactive-form></app-contact-reactive-form>

